target

flamegraph.svg

*.lkm
*.ll
*.o
*.elf

ecosystem/vsc-ext/*/node_modules/
ecosystem/vsc-ext/*/*.vsix
ecosystem/zed-ext/target/
website/node_modules/
website/dist/
website/src/wasm/pkg/.gitignore

lk-lsp-debug.log
main

lua-5.5.0/
