.vscode/**
.vscode-test/**
src/**
test/**
tests/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
bun.lock
bun.lockb
vscode-lkr-*.vsix
*.vsix
**/tsconfig.*
package-lock.json
node_modules/@types/**
node_modules/typescript/**
node_modules/@vscode/vsce/**
node_modules/@vscode/vsce-sign/**
node_modules/@vscode/vsce-sign-*/**
node_modules/**/node_modules/**
node_modules/**/.github/**
node_modules/**/bin/**
node_modules/**/browser/**
node_modules/**/esm/**
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/*.md
node_modules/**/README*
node_modules/**/CHANGELOG*
node_modules/**/changelog*
node_modules/**/HISTORY*
node_modules/**/LICENSE*
node_modules/**/License*
node_modules/**/license*
node_modules/**/thirdpartynotices.txt
node_modules/**/metaModel.schema.json
node_modules/**/range.bnf
