// String concatenation benchmark
import string;
let start = os.clock();
let s = "";
let i = 0;
while (i < 100000) {
    s = s + "x";
    i = i + 1;
}
let elapsed = os.clock() - start;
println("lkr strcat 100k: len={}, time={:.4}s", string.len(s), elapsed);